doctype html
html
	head
		meta(charset='UTF-8')
		title UploadTheFileParser
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content

		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/index.js')
